<div class="contan">
    <div class="shape1">

    </div>
    <div class="shape2">

    </div>
    <div class="shap3"></div>
    <div class="shap4"></div>
    <div class="guiter">
        <img src="./assets/img/guitar 1.png" alt="guiter">

    </div>
    <div class="running">
        <img src="./assets/img/guitar 2.png" alt="running">
    </div>
    <div class="container">
        <div class="disc text-center">
            <h3>UAE AFTER 2 PM</h3>
            <p>It’s when fun time starts!</p>
                <p>Join <span>UAE AFTER 2 PM</span> and explore a verity of exciting</p>
                <p>
                activities, new skill share opportunities, cool events and much more …
                Powered by</p>

        </div>
        <div class="sponser">
            <button type="submit" class="register">Pre-registration<svg width="21" height="11" viewBox="0 0 21 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M20.0712 5.11325C20.0709 5.11302 20.0707 5.11274 20.0704 5.11251L15.9883 1.05001C15.6824 0.745671 15.1878 0.746804 14.8834 1.05266C14.579 1.35848 14.5802 1.85313 14.886 2.15751L17.6268 4.88501H1.08154C0.650059 4.88501 0.300293 5.23477 0.300293 5.66626C0.300293 6.09774 0.650059 6.44751 1.08154 6.44751H17.6267L14.886 9.17501C14.5802 9.47938 14.579 9.97403 14.8834 10.2799C15.1878 10.5857 15.6825 10.5868 15.9883 10.2825L20.0705 6.22001C20.0707 6.21977 20.0709 6.2195 20.0712 6.21926C20.3772 5.91387 20.3762 5.41762 20.0712 5.11325Z" fill="white"/>
                </svg>
            </button>
            <owl-carousel-o [options]="sponserlOptions">
              <ng-template carouselSlide *ngFor="let sponser of sponsers">
                  <div class="cont">
                    <img src="{{sponser.img}}" alt="client photo">
                  </div>
              </ng-template>
            </owl-carousel-o>

        </div>
        <div class="map text-center">
          <div class="cont-one">
            <h2>01</h2>
            <div class="cont">
                <img src="./assets/img/Ellipse 13.png" alt="sun">
                <h4>Register</h4>
                <hr>
                <p>Complete you
                registration
                and start
                learning the
                fun way.</p>
              </div>
            </div>
            <div class="cont-two">
                <h2>02</h2>
                <div class="cont">
                  <img src="./assets/img/Ellipse 13.png" alt="sun">
                    <h4>Pick Your<br>
                        Interests</h4>
                    <hr>
                    <p>Tell us more about you and we’ll help you choose the right skills for you.</p>
                </div>
              </div>
              <div class="cont-three">
                <h2>03</h2>
                <div class="cont">
                  <img src="./assets/img/Ellipse 13.png" alt="sun">
                  <h4>Start Your<br>
                    Professional<br>
                    training!</h4>
                    <hr>
                    <p><span>Hurry up!</span>
                    Start your
                    courses now
                    and increase
                    your skills in
                    no time.</p>
                </div>
              </div>
              <div class="cont-four">
                <h2>04</h2>
                <div class="cont">
                  <img src="./assets/img/Ellipse 13.png" alt="sun">
                  <h4>Test your<br>
                    progress !</h4>
                <hr>
                <p><span>Challenge Accepted!</span>
                    Test your progress
                    after each
                    course and get ready to
                    compete in the
                    next level.</p>
                </div>
              </div>
              <div class="cont-five">

                <h2>05</h2>
                <div class="cont">
                  <img src="./assets/img/Ellipse 13.png" alt="sun">
                  <h4>Ready to compete</h4>
                        <hr>
                        <p><span>NOW YOU ARE READY!</span>
                            By finishing the assigned
                             courses you're now qualified
                            to compete.</p>
                </div>
              </div>
            <hr class="line1">
            <hr class="line2">
            <hr class="basic">
            <hr class="line3">
            <hr class="line4">
            <hr class="line5">
        </div>
        <div class="emirates text-center">
            <hr class="right">
            <h3>Select your Emirate</h3>
            <hr class="left">
        </div>
    </div>

</div>
